@charset "UTF-8";
.container__main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-gap: 35px;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  min-height: 100vh;
  padding: 20px 0;
  padding-right: 300px;
  padding-left: 300px;
  margin: 0 auto;
  font-family: Righteous, cursive;
  background-color: #a9c9ff;
  background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);
}
.container__main .card {
  position: relative;
  width: 300px;
  height: 300px; /* 카드 높이 원래대로 돌려놓음 */
  margin: 0 auto;
  background: #000;
  border-radius: 15px;
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
}
.container__main .card .face {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.container__main .card .face.face1 {
  box-sizing: border-box;
  padding: 20px;
}
.container__main .card .face.face1 h2 {
  padding: 0;
  margin: 0;
}
.container__main .card .face.face1 .java {
  background-color: #fffc00;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container__main .card .face.face1 .python {
  background-color: #00fffc;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container__main .card .face.face1 .cSharp {
  background-color: #fc00ff;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container__main .card .face.face2 {
  transition: 0.5s;
}
.container__main .card .face.face2 h2 {
  z-index: 10;
  padding: 0;
  margin: 0;
  font-size: 10em;
  color: #fff;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.container__main .card:hover .face.face2 {
  height: 60px;
}
.container__main .card:hover .face.face2 h2 {
  font-size: 2em;
}
.container__main .card:nth-child(1) .face.face2 {
  background-image: linear-gradient(40deg, #fffc00 0%, #fc00ff 45%, #00fffc 100%);
  border-radius: 15px;
}
.container__main .card:nth-child(2) .face.face2 {
  background-image: linear-gradient(40deg, #fc00ff 0%, #00fffc 45%, #fffc00 100%);
  border-radius: 15px;
}
.container__main .card:nth-child(3) .face.face2 {
  background-image: linear-gradient(40deg, #00fffc 0%, #fc00ff 45%, #fffc00 100%);
  border-radius: 15px;
}
.container__main .card:nth-child(4) .face.face2 {
  background-image: linear-gradient(40deg, #00fffc 0%, #fc00ff 45%, #fffc00 100%);
  border-radius: 15px;
}
.container__main .card:nth-child(5) .face.face2 {
  background-image: linear-gradient(40deg, #00fffc 0%, #fc00ff 45%, #fffc00 100%);
  border-radius: 15px;
}
.container__main .card:nth-child(6) .face.face2 {
  background-image: linear-gradient(40deg, #00fffc 0%, #fc00ff 45%, #fffc00 100%);
  border-radius: 15px;
}